{% extends 'manager.html' %}

{% block content%}

{% load crispy_forms_tags %}


{% load static %}

<div class="row">
    <div class="col-md-12">
        <br>

        <div class="col-md-4 col-md-offset-1" style="background: whitesmoke "
             onmouseover="this.style.background='#d2d5d9' "
             onmouseout="this.style.background= 'whitesmoke' ">
            <img src="{% static 'images/bbc2.png' %}" alt="" style="width: 85px; margin-bottom: 0">
            <div style="color: black; font-size: 40px"><b>Change Password</b></div>
            <br><br><br>

            <form action="" method="post">
                {% csrf_token%}
                {{form|crispy}}
                <button class="btn btn-success" style="background: #006DEF; width: 410px">Change Password</button>
            </form>

            <br><br>
        </div>

    </div>
</div>

<br>


{% endblock %}