{% extends 'manager.html' %}

{% block content%}

{% load crispy_forms_tags %}


{% load static %}

<div class="row">
    <div class="col-md-12">
        <br>

        <div class="col-md-4 col-md-offset-1" style="background: whitesmoke "
             onmouseover="this.style.background='#d2d5d9' "
             onmouseout="this.style.background= 'whitesmoke' ">
            <img src="{% static 'images/bbc2.png' %}" alt="" style="width: 85px; margin-bottom: 0">
            <div style="color: black; font-size: 40px"><b>Password Reset Complete</b></div>
            <br><br><br>
            <h2 style="color: #006DEF">Congratulation!!!</h2>

            <br><br>
        </div>

    </div>
</div>

<br>


{% endblock %}