{% extends 'manager.html' %}

{% block content %}

<div class="row" style="background: #BB1919; color: white;">
    <div class="col-md-12">
        <div class="col-md-2 col-md-offset-1">
            <h1 style="font-size: 30px">
                <div>WORLD</div>
                <div>NEWS</div>
            </h1>

        </div>
    </div>
</div>
<div class="row" style="background: #C94747">
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-1" style="padding-top: 9px">

            <p id="demo" style="color: white;font-size: 30px"></p>
        </div>
    </div>
</div>


<br>


<div class="row">
    <div class="col-md-12" style=" background: white">
        <div class="col-md-10 col-md-offset-1">
            {% for tv in TvData %}
            {% if tv.main_set.all %}
            {% if tv.name == "tv" %}

            {% for blog in tv.main_set.all %}
            <div class=" col-md-4">
                <div class="thumbnail" style="height: 440px; border: 0">
                    <img src="{{blog.image.url}}" alt="...">
                    <div class="caption">
                        <h3>{{blog.title}}</h3>
                        <p>{{blog.slug}}</p>
                        <p style="float: right">
                            <a href="{% url 'detail' blog.slug %}" style="color: #4C4C4C;text-decoration: none; font-size: 16px"
                               onmouseover="this.style.color='black'"
                               onmouseout="this.style.color='#4C4C4C'">
                                <b>Read more...</b>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}