{% extends 'manager.html' %}

{% block content %}

{% load static %}

<div class="row" style="background: #0C101C; color: white">
    <br>
    <div class="col-md-12">
        <div class="col-md-8 col-md-offset-1">
            <h1><b>What is Parental Guidance Lock?</b></h1>
            <br>

            <div style="font-size: 18px; color: #B2B7C4">
                <p>The Parental Guidance Lock restricts access to programmes which display a guidance warning to ensure
                    younger audiences can’t access inappropriate content. Setting up a Parental Guidance Lock is the
                    best
                    way to control what your children have access to on BBC iPlayer.
                </p>
                <p>
                    What’s more, it’s really easy to use. If a programme has been flagged with guidance, it will feature
                    a
                    clear label and a ‘G’ symbol.
                </p>
                <p>
                    The Parental Guidance Lock uses a four-digit PIN to control access to guidance-labelled content.
                    When
                    the Parental Guidance Lock is turned on you will be asked to set a PIN, which you will need to
                    re-enter
                    to enable you to view guidance-labelled content.
                </p>
                <br>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-1">
            <br><br><br>
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true" style="font-size: 150px"></span>
        </div>


    </div>

</div>

{% endblock %}